In [1]:
import pandas as pd
import csv
school_list_path="school_list.csv"
student_list_path="student_list.csv"
school_list_pd= pd.read_csv(school_list_path)
student_list_pd= pd.read_csv(student_list_path)
student_list_pd.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [2]:
school_list_pd.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
Total_school=len(school_list_pd)
Total_school

15

In [4]:
Total_students=student_list_pd["name"].count()
Total_students

39170

In [5]:
Total_budget=school_list_pd["budget"].sum()
Total_budget

24649428

In [6]:

Average_math_score=student_list_pd["math_score"].mean()
Average_reading_score=student_list_pd["reading_score"].mean()
Average_math_score
Average_reading_score

81.87784018381414

In [7]:
Average_math_score

78.98537145774827

In [8]:
Mathscore_pass=student_list_pd.loc[student_list_pd["math_score"] >= 60,:]
Mathscore_pass
TheNumber_Mathscore_pass=len(Mathscore_pass)
TheNumber_Mathscore_pass

36211

In [9]:
Percentage_Math_passed=(TheNumber_Mathscore_pass/Total_students)*100
Percentage_Math_passed

92.4457492979321

In [10]:
Readingcore_pass=student_list_pd.loc[student_list_pd["reading_score"] >= 60,:]
Readingcore_pass
TheNumber_Readingcore_pass=len(Readingcore_pass)
TheNumber_Readingcore_pass

39170

In [11]:
Percentage_Reading_passed=(TheNumber_Readingcore_pass/Total_students)*100
Percentage_Reading_passed

100.0

In [12]:
over_passing_rate=(Percentage_Reading_passed+Percentage_Math_passed)/2
over_passing_rate

96.22287464896604

In [13]:
District_Summany= pd.DataFrame({"Totalschools": [Total_school],"Total students": [Total_students],
                                   "Total Budget": [Total_budget],
                                   " Average math score": [Average_math_score]," Average reading score": [Average_reading_score],
                               
                                 
                                   "% Percentage Math passed": [Percentage_Math_passed], "% Percentage Reading passed": [Percentage_Reading_passed],
                                
                                   "% over passing rate":[over_passing_rate],
                                   
})

District_Summany = District_Summany[["Totalschools", 
                                         "Total students", 
                                         "Total Budget", 
                                         " Average math score", 
                                         " Average reading score", 
                                         "% Percentage Math passed", 
                                         "% Percentage Reading passed",
                                         "% over passing rate"
                                         ]]






District_Summany=District_Summany.round(2)
District_Summany.dtypes

Totalschools                     int64
Total students                   int64
Total Budget                     int64
 Average math score            float64
 Average reading score         float64
% Percentage Math passed       float64
% Percentage Reading passed    float64
% over passing rate            float64
dtype: object

In [14]:
#District_Summany[" Average math score"]=District_Summany[" Average math score"].format(float(u"5.0"))

#District_Summany[" Average_reading_score"]=District_Summany[" Average_reading_score"]."% over passing rate"
District_Summany[ "% Percentage Math passed"]=District_Summany[ "% Percentage Math passed"].map("{0:,.2f}%".format)

District_Summany[ "% Percentage Reading passed"]=District_Summany[ "% Percentage Reading passed"].map("{0:,.2f}%".format)
District_Summany[ "% over passing rate"]=District_Summany[ "% over passing rate"].map("{0:,.2f}%".format)
District_Summany

,Totalschools,Total students,Total Budget,Average math score,Average reading score,% Percentage Math passed,% Percentage Reading passed,% over passing rate
0,15,39170,24649428,78.99,81.88,92.45%,100.00%,96.22%